##Try to import photos via gphoto
SUBSYSTEM=="usb", ACTION=="add", ENV{DEVTYPE}=="usb_device", ENV{ID_GPHOTO2}=="1", ENV{GPHOTO2_DRIVER}!="", RUN+="/home/dennis/gphoto/StartGphotoImport.sh"
#SUBSYSTEM=="usb", ACTION=="add", RUN+="/home/dennis/gphoto/StartGphotoImport.sh"
